<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this product?</h1>
        <form th:action="@{/index/confirmDelete/{code}(code = ${product.code})}" th:object="${product}" method="post">
            <p>Product Code: <span th:text="${product.code}"></span></p>
            <p>Product Description: <span th:text="${product.description}"></span></p>
            <p>Product Price: <span th:text="${product.price}"></span>$</p>
            <input type="text" name="code" hidden="true" value="${p.code}"> 
            <input type="submit" value="Yes">  
            <button>
                <a th:href="@{/index/products}" style="text-decoration: none">No</a>
            </button>
        </form>
    </body>
</html>
