<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
        <h1>Add Product</h1>
        <form th:action="@{/index/saveProduct}" th:object="${product}" method="post">
            <label>Code: </label>
            <input type="text" name="code" th:field="*{code}">
            <p style="color: red" th:if="${errorCode!=null}" th:text="${errorCode}"></p>
            <br>
            <label>Description: </label>
            <input type="text" name="description" th:field="*{description}">
            <p style="color: red" th:if="${errorDes!=null}" th:text="${errorDes}"></p>
            <br>
            <label>Price: </label>
            <input type="text" name="price" th:field="*{price}">
            <p style="color: red" th:if="${errorPrice!=null}" th:text="${errorPrice}"></p>
            <br>
            <br> 
            <input type="submit" value="Save">
        </form >
    </body>
</html>
