<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
    	<p style="color: green" th:if="${saveSuccess!=null}" th:text="${saveSuccess}"></p>
        <h1>Product</h1>
        
        <table cellpadding="5" border=1>
        	<thead>
	        	<tr valign="bottom">
	                <td align="left"><b>Code</b></td>
	                <td align="left"><b>Description</b></td>
	                <td align="left" colspan="3"><b>Price</b></td>
	            </tr>
        	</thead>
            <tbody>
            	<tr th:each="pr : ${products}" valign="top">
                    <td th:text="${pr.code}"></td>
                    <td th:text="${pr.description}"></td>
                    <td th:text="${pr.price}"></td>  
                    <td> 
                        <a th:href="@{/index/update/{code}(code = ${pr.code})}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/index/delete/{code}(code = ${pr.code})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><!-- comment -->
        <br>
        <button>
            <a type="submit" th:href="@{/index/newProduct}" style="text-decoration: none">Add Product</a>
        </button>
                    
    </body>
</html>
