
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
        <h1>Update Product</h1>
        <form th:action="@{/index/saveupdate/{code}(code = ${product.code})}" th:object="${product}" method="post">
            <label>Code: </label>
            <input type="text" name="code" disabled="true" th:value="${product.code}">
            <br>
            <label>Description: </label>
            <input type="text" name="description" th:value="${product.description}">
            <p style="color: red" th:if="${errorDes!=null}" th:text="${errorDes}"></p>
            <br>
            <label>Price: </label>
            <input type="text" name="price" th:value="${product.price}">
            <p style="color: red" th:if="${errorPrice!=null}" th:text="${errorPrice}"></p>
            <br>
            <br>
            <div>
            <input type="submit" value="Update Product">  
            <button>
                <a th:href="@{/index/products}" style="text-decoration: none">View Products</a>
            </button>
        </form>
    </body>
</html>
